@charset "UTF-8";

/*================
  common
================*/
html {
  font-size: 100%;
  /* scroll-behavior: smooth;  スムーススクロール */
}
body {
  /* font-family: ; */
  color: #432;
  /* padding-top: 55px;  ヘッダー固定した時に後ろに要素が隠れないように */
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.section-title {
  margin: 30px 0;
  text-align: center;
  position: relative;
}
.section-title::after {  /* 疑似要素でタイトル下に下線を引く */
  content: "";
  background-color: #333;
  width: 40px;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section-title .en {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  letter-spacing: 0.1em;
}
.section-title .jp {
  font-size: 1rem;
}
/* --------------- ページアクセス時フェードインアニメーション */
.fadeIn {
  background: #abddd9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 900;
}
/* .fadeIn-text {
  position: relative;
} */
.fadeIn p {
  /* position: absolute; */
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
  display: none;
  z-index: 9999;
  width: 20vw;
}


/*==================
  header
==================*/
#header {
  padding: 0 3%;
  background-color: #c0e4e0;
  z-index: 99;
}
  .title-logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #432;
  }
  /* --------------- navメニュー */
  .my_navbar_brand,
.my_nav_link {
  /* フォントサイズを16pxに設定 */
  font-size: 16px;
  /* フォントをserif体に設定 */
  font-family: 'Lora', serif;
  /* !importantは簡単にいえば、最優先でスタイルを適用させるための宣言 */
  color: #000000 !important;
}

/* Bootstrapのボタンに初期設定されている周囲のborder（枠線）を消す */
.navbar-toggler {
  padding: 0 !important;
  border: none;
}
/* ハンバーガーボタンがチェック状態である（押されている）とき、閉じるボタン（×）を表示する */
#hamburger_btn_check:checked~.hamburger_btn .btn_close {
  display: block;
}
/* ハンバーガーボタンがチェック状態である（押されている）とき、ハンバーガーボタンを表示しない */
#hamburger_btn_check:checked~.hamburger_btn .btn_open {
  display: none;
}
/* 最初に表示した時は、閉じるボタン（×）は表示しない */
.btn_close {
  display: none;
}
/* ハンバーガーボタンが押されているかを判断するためのチェックボックスは隠す */
#hamburger_btn_check {
  display: none;
}

  /* --------------- メイン背景画像 */
  .big-bg {
    background-size: cover;  /* 画像の縦横比率を保ったまま画面いっぱいに広げる */
    background-position: center top;
    background-repeat: no-repeat;
  }
  #home {
    background-image: url(../img/mv_test.png);
    min-height: 100vh;  /* 100vhとすることで画面の表示領域の高さいっぱいに画像を広げる */
  }

  @media screen and (min-width: 500px) {  /* SPではheaderは常時表示に */
    /* ----- headerを指定位置に来た際にふわっと出現させるためのCSS ----- */
    /* 上に上がる動き */
    #header.UpMove{
      position: fixed;
      width:100%;
      animation: UpAnime 0.5s forwards;
    }
    @keyframes UpAnime{
      from {
        opacity: 1;
      transform: translateY(0);
      }
      to {
        opacity: 0;
      transform: translateY(-100px);
      }
    }
    /* 下に下がる動き */
    #header.DownMove{
      position: fixed;
      width:100%;
      animation: DownAnime 0.5s forwards;
    }
    @keyframes DownAnime{
      from {
        opacity: 0;
      transform: translateY(-100px);
      }
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }
  }


/*=================
  メイン
=================*/
  /* --------------- aboutセクション */
  #about {
    margin: 0 auto;
    /* padding: 25px; */
    background-color: #a5a0a085;
  }
  .about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px;
  }
  .about-img {
    display: block;
    width: 48%;
    /* height: auto; */
  }
  .profile-img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  .about-cont {
    width: 48%;
  }
  /* jQuery - fadeIn */
  .element-img {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(120px);
    transition: opacity 1.5s, visibility 1.5s, transform 0.5s; */
    transition: opacity 2.5s, visibility 2s, transform 2.5s;
  }
  .element-author {
    opacity: 0;
    visibility: hidden;
    transform: translateY(120px);
    transition: opacity 1.5s, visibility 1.5s, transform 1s;
    /* transition: opacity 3s, visibility 1s, transform 1s; */
  }
  .element-cont {
    opacity: 0;
    visibility: hidden;
    transform: translateY(120px);
    transition: opacity 1.5s, visibility 1.5s, transform 2s;
    /* transition: opacity 3s, visibility 1s, transform 2s; */
  }
  .is-fadein {  /* フェードイン時に入るクラス */
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  /* --------------- skillsセクション */
  #skills {
    background-color: #ffc9c9;
    height: 550px;
  }
  .icons {
    display: flex;
    /* flex-wrap: wrap; */
  }
  .skill-icon {
    padding: 20px 20px 0 20px;
    width: 32%;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  .skill-title {
    font-size: 1.25rem;
    margin-top: 10px;
    letter-spacing: 1.5px;
  }
  .text-contents {
    margin: 15% auto;
    width: 90%;
    display: none;
    font-size: 1.10rem;
    color: #432;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    position: relative;
  }
  .text-contents::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-bottom: 18px solid rgba(255, 255, 255, 0.7);
  }
  .text-active {  /* jQuery - hover時に表示される */
    display: block;
  }

  
  /* --------------- serviceセクション */
  #service {
    background-color: rgb(203, 240, 255, 0.6);
  }


  /* --------------- worksセクション */
  #works {
    background-color: rgb(119, 255, 0, 0.3);
  }


  /* --------------- contactセクション */
  #contact {
    background-color: rgb(250, 167, 250, 0.5);
  }
  .btn-wrap {
    text-align: center;
  }
  .contact-btn {
    display: inline-block;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    padding: 15px 25px;
    border: 3px solid #333;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: .3s;
  }
  .contact-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #333;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
  }
  .contact-btn:hover {
    color: #fff;
  }
  .contact-btn:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
  }
  .modal {
  /*   position: absolute; */
  /*   top: 20%; */
  /*   left: 34%; */
    background-color: #e6ecf0;
    margin: 5%;
    padding: 20px 0 40px;
    border-radius: 10px;
  /*   width: 720px; */
  /*   height: auto; */
  /*   text-align: center; */
  }
  /* モーダル閉じるボタン位置 */
  .fa-times {
    position: absolute;
    top: 110px;
    right: 120px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  /* お問い合わせフォーム */
  .Form {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
  .Form-Item {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
  .Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
  }
  .Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: red;
    color: #fff;
    font-size: 14px;
  }
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 250px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #545454;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 5px silver;
  }
  /* クリックの動き */
  .Form-Btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }


