@charset "UTF-8";

@media screen and (max-width: 800px) {
  /*===================
    共通 common
  ===================*/
    html {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
    }
    .wrapper {
      /* padding: 0 16px; */
    }
    .fadeIn p {
      width: 100%;
      -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
    }
    .section-title::after {
      width: 40px;
      height: 1.75px;
      bottom: -10px;
    }
    .section-title .en {
      font-size: 2rem;
    }
    .section-title .jp {
      font-size: 0.75rem;
    }


  /*=====================
    ヘッダー header
  =====================*/
    #header {
      width:100%;
    }
    .title-logo span {
      font-size: 1.2rem;
    }
    /* ----------------------------------------------- CSSのみでハンバーガ―メニュー (チェックボックス利用しての実装) */
    .drawer_hidden {
      display: none;  /* チェックボックスを非表示 */
    }
    /* アイコン設置スペース */
    .drawer_open {
      display: flex;
      height: 50px;
      width: 50px;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;  /* 重なり順を一番上にする */
      cursor: pointer;
      background-color: #87CEEB;
      border-radius: 7%;
    }
    /* アイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background: #fff;
      transition: 0.5s;
      position: absolute;
    }
    .drawer_open span:before {  /* 三本線の一番上の棒の位置調整 */
      bottom: 8px;
    }
    .drawer_open span:after {  /* 三本線の一番下の棒の位置調整 */
      top: 8px;
    }
    #drawer_input:checked ~ .drawer_open span {  /* アイコンがクリックされたら真ん中の線を透明にする */
      background: rgba(255, 255, 255, 0);
    }
    #drawer_input:checked ~ .drawer_open span::before {  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
      bottom: 0;
      transform: rotate(45deg);
    }
    #drawer_input:checked ~ .drawer_open span::after {
      top: 0;
      transform: rotate(-45deg);
    }
    /* ----------------------------------------------- ナビメニュー */
    .nav-content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%; /* メニューを画面の外に飛ばす */
      z-index: 99;
      background: rgba(135, 206, 235);
      transition: .5s;
    }
    .nav-list {
      flex-direction: column;
      text-align: center;
      font-size: 1.25rem;
      margin: 0;
    }
    .nav-list li {
      margin: 8% 30%;
      display: block;
    }
    .nav-list > li:nth-child(1) {
      margin-top: 100px;
    }
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked ~ .nav-content {
      left: 0;  /* メニューを画面に入れる */
    }
    /* ----------------------------------------------- メイン背景画像 */
    #home {
      background-image: url(../img/main-img_sp2.png);
    }
    /* ----------------------------------------------- メインテキスト */
    .home-content {
      top: 40%;
    }
    .home-content p {
      font-size: 2rem;
    }
    /* ----------------------------------------------- スクロールダウン促すアニメーション SP版 */
    .scrolldown3{
      position:absolute;
      bottom:1%;
      right:50%;
      animation: arrowmove 1s ease-in-out infinite;
    }
    @keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
      100%{bottom:1%;}
    }
    /*Scrollテキストの描写*/
    .scrolldown3 span{
      position: absolute;
      left:-20px;
      bottom:10px;
      color: #eee;
      font-size: 1.25rem;
      letter-spacing: 0.1em;
      /*縦書き設定*/
      -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }
    /* 矢印の描写 */
    .scrolldown3:before {
      content: "";
      position: absolute;
      bottom: 15px;
      right: -16px;
      width: 2px;
      height: 20px;
      background: #eee;
      transform: skewX(-31deg);
    }
    .scrolldown3:after{
      content:"";
      position: absolute;
      bottom: 15px;
      right: -10px;
      width: 2px;
      height: 55px;
      background:#eee;
    }
    .scrolldown3 img {
      display: none;
    }


  /*====================
    メイン main
  ====================*/
    /* ----------------------------------------------- aboutセクション */
    .about-wrap {
      flex-direction: column
    }
    .about-img {
      margin: 0 auto;
    }
    .about-img img {
      width: 280px;
      height: 250px;
    }
    .about-cont {
      width: 80%;
      padding-top: 30px;
    }

    /* ----------------------------------------------- skillsセクション */
    .skill-icon {
      padding: 15px;
      text-align: center;
    }
    .skill-icon img.html-icon, .skill-icon img.css-icon {
      height: 95px;
      width: 95px;
    }
    .skill-name {
      width: 50%;
      font-size: 1.2em;
    }
    .skill-name::before {
      top: -23px;
    }

    /* ----------------------------------------------- serviceセクション */
    .service-list {
      flex-direction: column;
      /* margin: 0 auto; */
    }
    .service-item {
      margin: 20px 0;
    }
    .modal {
      padding: 0 0 20px 0;
    }
    @media screen and (max-width: 376px) {
      .section-title .en {
        font-size: 1.5em;
      }
      .section-title .jp {
        font-size: 0.5em;
      }
    }
    /*  料金一覧 */
    .price-table table tr {
      border-bottom: none;
    }
    .price-table table th {
      display: block;
      width: 100%;
      padding: 8px 0;
    }
    @media screen and (max-width: 520px) {
      .price-table table th {
        font-size: 1em;
      }
    }
    .price-table table th:after {
      content: "";
      position: absolute;
      top: 98%;
      left: 48%;
      border: 10px solid transparent;
      border-top: 10px solid #52c2d0;
      z-index: 1;
    }
    .price-table table td {
      display: block;
      width: 100%;
      font-size: 0.95em;
      padding: 15px 0 8px 0;
    }
    /* モーダル閉じるボタン位置 */
  .fa-times {
    top: 10px;
    right:  15px;
  }
  .size {
    font-size: 2em;;
  }

    /* ----------------------------------------------- worksセクション */
    .works-item-list-1, .works-item-list-2, .works-item-list-3, .works-item-list-4, .works-item-list-5 {
      flex-direction: column;
      margin: 0 8%;
    }
    .works-item > p {
      right: -20px;
    }

    /* ----------------------------------------------- contact */
    th, td {
      display: block;
    }
    /* contact.php */
    .contact-wrap form .contact-table tr th {
      width: 45%;
      margin: 0 auto;
    }
    .contact-wrap form .contact-table tr td {
      width: 80%;
      margin: 0 auto;
    }
    @media screen and (min-width: 375px) {
      .contact-wrap form .contact-table tr th {
        width: 55%;
      }
      .contact-wrap form .contact-table tr td {
        width: 90%;
      }
    }
    th span {
      padding: 4px 5px;
    }
    .contact-wrap form .contact-table tr:first-child td:before, .contact-wrap form .contact-table tr td:after {
      border: none;
    }
    /* confirm.php */
    .confirm-table .display-item-name, .confirm-table .display-item-mail, .confirm-table .display-item-phone {
      text-align: center;
    }


  /*========================
    フッター footer
  ========================*/
    #page-top a {
      width: 50px;
      height: 80px;
      margin-bottom: 5px;
      opacity: 0.8;
    }
    #page-top.floatAnime a {
      width: 60px;
      height: 90px;
    }
    #page-top span{
      right: 0px;
      font-size: .7rem;
    }

}