@charset "UTF-8";

/* ----------------------------------------------- ページアクセス時フェードインアニメーション */
.fadeIn {
  background: #3e3e3e;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #eee;
  width: 100px;
  height: 30px;
  margin: -10px 0 0 -55px;
  text-align: center;
  font-family:  'Lora', cursive , sans-serif;
  font-size: 30px;
}
#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  margin: -115px 0 0 -125px;
  border: 3px solid transparent;
  border-top-color: #00bfff;
  border-bottom-color: #00bfff;
  border-radius: 50%;
  animation: loader 2s linear infinite;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -ms-animation: loader 2s linear infinite;
}
#loading-content:after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #f04747;
  border-bottom-color: #f04747;
  border-radius: 50%;
  animation: loader 1.5s linear infinite;
  -webkit-animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -ms-animation: loader 2s linear infinite;
}
#loading-content:before {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #ffed23;
  border-bottom-color: #ffed23;
  border-radius: 50%;
  animation: loader 3s linear infinite;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -ms-animation: loader 2s linear infinite;
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*================
  common
================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #432;
  /* background-color: #ccf1ff; */
  /* padding-top: 55px;  ヘッダー固定した時に後ろに要素が隠れないように */
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.site-title-logo:hover {
  opacity: 0.7;
}
.section-title {
  text-align: center;
  position: relative;
}
.section-title:not(.price-section):not(.contact-section) {
  margin: 10% 0 50px 0;
}
.section-title:not(.price-section)::after {  /* 疑似要素でタイトル下に下線を引く */
  content: "";
  background-color: #333;
  width: 50px;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 50px;
  margin: 0 auto;
}
.section-title .en {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  letter-spacing: 0.15em;
  margin-bottom: 5px;
  text-shadow:
    0 1px rgb(220, 217, 217),
    0 2px rgb(220, 217, 217),
    0 3px rgb(220, 217, 217),
    0 4px rgb(220, 217, 217),
    0 5px rgb(220, 217, 217),
    0 6px rgb(220, 217, 217),
    0 7px rgb(220, 217, 217),
    0 8px rgb(220, 217, 217),
    0 9px rgb(220, 217, 217),
    0 10px rgb(220, 217, 217),
    0 10px 6px #000000;
}

.section-title .jp {
  font-size: 1.2rem;
  padding-left: 150px;
}
.sns-link-icon {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.sns-link-icon .twitter-icon {
  color: #333;
  padding: 3px;
  border: solid 2px #333;
  border-radius: 50%;
}
.sns-link-icon .twitter-icon:hover {
  opacity: 0.6;
  color: #00bfff;
  border: solid 2px #00bfff;
  border-radius: 50%;
  background: #fefefe;
}
/* ----------------------------------------------- jQuery - 下からふわっとfadeIn */
.fadein-under {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: opacity 2s, visibility 2s, transform 1s;
}
.fadein-add {  /* フェードイン時に入るクラス */
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/*=======================
  ヘッダー header
=======================*/
#header {
  /* outline: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 1px 8px 3px rgb(0, 0, 0, 10%);
  z-index: 99;
}
.header-wrap {
  position: fixed;  /* 追従ナビのためpositionをfixedにする */
  top: 0;  /* ポジション設定topを0 */
  height: 70px;  /* headerの高さを指定 */
  width: 100%;  /* position:fixed;にしたため、横幅100%を設定 */
}
  .title-logo img {
    margin-top: 10px;
    border: none; /* IE10以前ではリンク設定した画像の周りに罫線が表示されてしまうため */
  }
  /* ----------------------------------------------- navメニュー */
  .drawer_hidden {
    display: none;  /* ハンバーガーメニュー, チェックボックスを非表示にする  */
  }
  .nav-list {
    display: flex;
    font-family: 'Lora', serif;
    text-align: center;
    margin: 15px 0;
  }
  .nav-list-en {
    font-size: 1.2rem;
  }
  .nav-list li {
    margin-left: 15px;
    vertical-align: middle; /* 要素を上下中央で揃える */
  }
  .nav-list li a {
    color: #432;
    padding: 3px 5px;
    box-sizing: border-box; /* 崩れ防止 */
    transition: 0.2s;
  }
  .nav-list li a:link {
    color: #432;
  }
  .nav-list li a:active {
    color: #432;
  }
  .nav-list li a:hover {
    opacity: 0.7;
  }
  .nav-list li a:hover:not(.twitter-icon):not(.github-icon) {
    background-color: #76d0f0;
    color: #fff;
    border-radius: 5px;
  }
  /* ----------------------------------------------- メイン背景画像 */
  .big-bg {
    min-height: 100vh; /* 100vhとすることで画面の表示領域の高さいっぱいに画像を広げる */
  }
  #mainvisual .fade li img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    animation: fade 23s infinite;
  }
  #mainvisual .fade img.main-1-sp, #mainvisual .fade img.main-3-sp {
    display: none;
  }
  #mainvisual .fade img.main-1, #mainvisual .fade img.main-1-sp {
    animation-delay: 0s;
  }
  #mainvisual .fade img.main-2 {
    animation-delay: 8s;
  }
  #mainvisual .fade img.main-3, #mainvisual .fade img.main-3-sp {
    animation-delay: 15s;
  }
  #mainvisual .fade li img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  #mainvisual .fade li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 7px 7px #fff; /* 内側に白ぼかし */
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    45% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /* ----------------------------------------------- メインテキスト */
  .home-content {
    position: absolute;
    top: 25%;
    left: 10%;
    color: #fff;
    text-shadow: 3px 3px 1px rgb(61 70 70);
    z-index: 20;
  }
  .home-content .home-content-text {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
  }
  .home-content .home-content-text > p {
    background: linear-gradient(transparent 40%, #a7d6ff 50%); /* 数値を小さくするほど太く */
    padding: 0 20px 5px 20px;
  }
  .home-content .home-content-text > p:nth-child(1) {
    display: inline-block;
  }
  .home-content .home-content-text > p:nth-child(2) {
    margin-bottom: 50px;
  }
  .home-content .home-content-text .brackets {
    font-size: 1.75rem;
    position: relative;
    line-height: 1.4;
    padding: 10px;
    margin-left: 20px;
    display: inline-block;
    top:0;
  }
  .home-content .home-content-text .brackets:before, .home-content .home-content-text .brackets:after {
    position: absolute;
    top: 0;
    content:'';
    width: 20px;
    height: 100%;
    display: inline-block;
  }
  .home-content .home-content-text .brackets:before {
    border-top: dotted 4px #ccf1ff;
    border-left: dotted 4px #ccf1ff;
    border-bottom: dotted 4px #ccf1ff;
    left: 0;
  }
  .home-content .home-content-text .brackets:after {
    content: '';
    border-top: dotted 4px #ccf1ff;
    border-right: dotted 4px #ccf1ff;
    border-bottom: dotted 4px #ccf1ff;
    right: 0;
  }
  .home-content .home-content-text .brackets p:nth-child(1) {
    padding: 5px 35px;
  }
  .home-content .home-content-text .brackets p:nth-child(2) {
    padding: 5px 65px;
  }
  .home-content-lang {
    font-size: 1.75rem;
    margin-left: 20px;

  }
  .home-content-lang a {
    color: #87CEEB;
  }
  .home-content-lang a:hover {
    opacity: 0.7;
  }
  /* ----------------------------------------------- スクロールダウン促すアニメーション PC版 */
  @media screen and (min-width: 820px) {
    /*スクロールダウン全体の場所*/
    .scrolldown3 {
      position: absolute;
      bottom: 30px;
      right: 52.5%;
      animation: mousemove 1.3s ease-in-out infinite;
    }
    /*下からの距離が変化して上から下に動く*/
    @keyframes mousemove {
      0% {
        bottom: 25px;
      }
      50% {
        bottom: 10px;
      }
      100% {
        bottom: 25px;
      }
    }
    /*Scrollテキストの描写*/
    .scrolldown3 span {
      position: absolute;
      bottom: -10px;
      color: #eee;
      font-size: 1.75rem;
      letter-spacing: 0.1em;
      z-index: 21;
    }
    /*線描写 */
    .scrolldown3 span::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 48%;
      width: 3px;
      height: 10px;
      background: #eee;
      animation: mousepathmove 1.3s linear infinite;
      opacity: 0;
      z-index: 21;
    }
    /*上からの距離・不透明度・高さが変化して上から下に流れる*/
    @keyframes mousepathmove {
      0% {
        height: 0;
        top: 35px;
        opacity: 1;
      }
      50% {
        height: 35px;
        opacity: 1;
      }
      100% {
        height: 35px;
        top: 55px;
        opacity: 0;
      }
    }
  }

/*======================
  メイン main
======================*/
#main-wrap {
  border: solid 5px blue;
  margin: 0 auto;
  background-color: #ccf1ff;
  z-index: 0;
}
/* 各セクションの横幅を固定 ※contactのみ別設定*/
#about, #skills, #service, #works, #contact {
  max-width: 1300px;
  margin: 0 auto;
  /* padding-top: 50px; */
}

/* ================================================================================================================================= 背景斜め */
.container-aboutToSkills {
  background: linear-gradient(-6deg, #fff, #fff 800px, #ccf1ff 800px);
}
.container-serviceToWorks {
  background: linear-gradient(6deg, #fff, #fff 2750px, #ccf1ff 2750px);
}
.about-container {
  /* background-color: #ccf1ff; */
}
.skills-container {
  /* background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 120px, 100% 0%, 100% 100%, 0 100%); */
}
.service-container {
  /* background-color: #ccf1ff; */
}
.works-container {
  /* background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 120px, 100% 100%, 0 100%); */
}
.contact-container {
  /* background-color: #fff; */
}

/* ----------------------------------------------- aboutセクション */
  .about-wrap {
    /* border: solid 5px red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 3%; */
  }
  .about-img {
    margin-left: auto;  /* プロフ写真のみ右寄せ */
    margin-right: 12%;
  }
  .about-img img {
    height: 400px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 20px 20px 0px 0 rgb(139, 215, 239);
  }
  .about-content {
    width: 48%;
    padding: 2%;
    /* background: #e4fcff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); */
    color: #432;
    background: white;
    border-top: solid 8px #432;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.22);
  }
  .about-content .me {
    font-size: 1.25rem;
    border-left: double 8px rgb(139, 215, 239);
    padding-left: 15px;
  }
  .about-content .career > p:nth-child(1) {
    display: inline-block;
    background-color: rgb(139, 215, 239);
    color: #fff;
    padding: 0 10px 3px 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 1.25rem;
    position: relative;
  }
  .about-content .career > p:nth-child(1):after {
    position: absolute;
    content: '';
    top: 100%;
    left: 10px;
    border: 8px solid transparent;
    border-top: 10px solid rgb(139, 215, 239);
    width: 0;
    height: 0;
  }
  
/* ----------------------------------------------- skillsセクション */
  .icons-flex {
    border: solid 5px red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
  }
  .skill-icon {
    padding-top: 30px;
    margin-bottom: 30px;
    width: 330px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  .skill-name {
    margin: 5% auto;
    width: 35%;
    /* display: none; */
    color: #432;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Lobster", cursive;
    background-color: rgb(226, 226, 226);
    padding: 10px 0;
    border-radius: 25px;
    text-align: center;
    position: relative;
  }
  .skill-name::before {
    content: "";
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -12px;
    border: 12px solid transparent;
    border-bottom: 15px solid rgb(226, 226, 226);
  }
  /* jQuery - hover時に表示される */
  .text-active {
    display: block;
  }


/* ----------------------------------------------- serviceセクション */
  .service-wrap {
    border: solid 5px red;
  }
  .service-list {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .service-item {
    width: 100%;
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-top: solid 10px #00bfff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  }

  .service-img {
    text-align: center;
    margin-bottom: 20px;
  }
  .service-title {
    font-size: 1.2rem;
    color: #432;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .service-content {
    font-size: 1rem;
  }
  .price-btn-wrap {
    text-align: center;
    margin: 0 auto;
  }
  span.price-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  span.learn-more {
    width: 12rem;
    height: auto;
  }
  span.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  span.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  span.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  span.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.8rem;
    height: 0.8rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  span.learn-more .price-show {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    /* text-transform: uppercase; */
  }
  span.price-btn:hover .circle {
    width: 100%;
  }
  span.price-btn:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  span.price-btn:hover .price-show {
    color: #fff;
  }
  /* .price-btn > a {
    background-color: rgb(221, 153, 153);
    font-size: 1.35rem;
    cursor: pointer;
  } */
  /* --------------- price 料金一覧 */
  .mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
  }
  .modal {
    position: absolute;
    top: 5%;
    bottom: 3%;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    background-color: #f1f3f5;
    padding: 20px 0 40px 0;
    border-radius: 10px;
    height: auto;
  }
  /* 料金一覧 */
  .fa-times { /* モーダル閉じるボタン位置 */
    position: absolute;
    top: 10px;
    right: 20px;
    /* color: rgba(128, 128, 128, 0.8); */
    cursor: pointer;
  }
  .size {
    font-size: 2em;;
    color: #87CEEB;
  }
  .price-section {
    margin-top: 4%;
  }
  .price-table {
    max-width: 1080px;
    margin: 20px auto 0 auto;
  }
  .price-table table {
    width: 100%;
    border-collapse: collapse;
    border: solid 3px rgba(128, 128, 128, 0.8);
  }
  .price-table table tr {
    border-bottom: solid 3px white;
  }
  .price-table table tr:last-child {
    border-bottom: none;
  }
  .price-table table th {
    position: relative;
    text-align: left;
    width: 70%;
    background-color: #52c2d0;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 25px 0;
  }
  .price-table table th:after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    top: calc(50% - 20px);
    right: -20px;
    border-left: 20px solid #52c2d0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .price-table table td {
    width: 30%;
    text-align: center;
    background-color: #eee;
    font-size: 1.35rem;
    /* padding: 20px 0; */
  }
  p.price-cont {
    text-align: center;
    font-size: 1.2rem;
  }
  
  
/* ----------------------------------------------- worksセクション */
  .works-wrap {
    border: solid 5px red;
    overflow: hidden;  /* カルーセルはみ出し部分を隠す */
    margin-top: 50px;
  }
  /* --------------- 制作物一覧 */
  .works-item-list-1, .works-item-list-2, .works-item-list-3 {
    outline: 3px solid yellow;
    /* ---------- セレクタ範囲 ---------- */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
  }
  .works-item {
    position: relative;
    margin-top: 5%;
    z-index: 10;
  }
  .works-item-img {
    width: 600px;
  }
  .works-item-title {
    text-align: center;
    color: #432;
    margin-top: 20px;
  }
  .works-item-skill {
    position: absolute;
    /* top: 75%; */
    /* top: 30px; */
    bottom: 50px;
    right: -10px;
    /* right: -35px; */
    background-color:rgba(135, 206, 235, 0.8);
    color: #fff;
    z-index: 11;
    padding: 20px 10px;
    border-radius: 5px;
  }

/* ----------------------------------------------- contact セクション */
  #contact {
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    border: solid 5px red;
  }
  .contact-wrap > p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  /* 問い合わせリンクボタンのカスタマイズ */
  span.contact-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.05em;
    transition: .5s;
    font-family: inherit;
    color: #17C3B2;
    border-radius: 5px;
    z-index: 1;
  }
  span.contact-btn::before {
  content: '';
  display: block;
  width: 0;
  height: 450%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .6s ease;
  z-index: -1;
  }
  span.contact-btn:hover::before {
  width: 100%;
  }
  span.contact-btn:hover {
  color: #fff;
  font-weight: bold;
  }
  
/* =================== contact.php =================== */
.contact-section {
  margin-top: 5%;
}
.contact-info, .contact-info-en {
  text-align: center;
  font-size: 1.2rem;
}
.contact-info-en {
  color: red;
  margin-bottom: 15px;
}
/* フォーム全体範囲 */
.contact-wrap {
  max-width: 1000px;
  margin: 0  auto;
}
.contact-wrap form {
  width: 100%;
}
.contact-wrap form .contact-table {
  width: 100%;
}
.contact-wrap form .contact-table tr {
  position: relative;
}
.contact-wrap form .contact-table tr:first-child td:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  border-bottom: solid 2px rgba(28, 46, 83, 0.5);
}
/* 入力項目 */
.contact-wrap form .contact-table tr th {
  width: 30%;
  font-weight: normal;
  padding: 15px 5px;
  background-color: #254689;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
th span.required, th span.any {
  padding: 1% 3%;
  color: #fff;
  font-size: 0.85rem;
  border-radius: 3px;
  margin-left: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* spanのrequiredクラスのみ */
th span.required {
  background: red;
}
/* spanのanyクラスのみ */
th span.any {
  background: gray;
}
/* ボックスの下枠 */
.contact-wrap form .contact-table tr th:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: solid 2px #fff;
}
/* テキスト入力 */
.contact-wrap form .contact-table tr td {
  position: relative;
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-wrap form .contact-table tr td:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: solid 2px rgba(28, 46, 83, 0.5);
}
.contact-wrap form .contact-table tr .box_br {
  display: block;
}
.contact-wrap form .contact-table tr select, .contact-wrap form .contact-table tr textarea, .contact-wrap form .contact-table tr .wide {
  width: 100%;
  height: 3em;
  padding: .5em;
  border: solid 2px rgba(28, 46, 83, 0.8);  /* テキスト入力枠線 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-wrap form .contact-table tr textarea {
  height: 15em;
}
/* エラーメッセージ */
.error_msg {
  font-size: 1.2rem;
  color: #ff0000;
  height: 14px;
}
/* プライバシーポリシー */
.box_check {
  text-align: center;
  margin: 1em auto;
}
.box_check label {
  display: inline-block;
}
.box_check label span {
  margin-left: .3em;
}
/* 確認画面へボタン */
.confirm-btn {
  text-align: center;
}
.confirm-btn input {
  display: inline-block;
  background: #eee;
  padding: .5em 4em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.confirm-btn input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* =================== confirm.php =================== */
.confirm-con {
  max-width: 1000px;
  margin: 0 auto;
}
.confirm-con .confirm-title {
  text-align: center;
  margin: 15px 0 0 0;
}
.confirm-con .confirm-title-en {
  text-align: center;
  margin-bottom: 30px;
}
.confirm-con .confirm-text, .confirm-con .confirm-text-en {
  text-align: center;
  font-size: 1.2rem;
}
.confirm-text {
  margin-bottom: 10px;
}
.confirm-con .confirm-text-en {
  margin-bottom: 30px;
}
.confirm-title-en, .confirm-text-en {
  color: red;
}
.confirm-wrap {
  background: #eee;
}
/* 出力部分 */
.confirm-content {
  padding: 25px;
}
.confirm-content .form-item {
  margin-bottom: 10px;
  font-size: 1.25rem;
}
/* 最初の.form-item以外 */
.confirm-content .form-item:not(:first-child) {
  margin-top: 30px;
}
.confirm-content span.output {
  font-size: 1.1rem;
}

/* 内容修正ボタン */
.confirm-return-btn {
  text-align: center;
  margin: 50px auto;
}
a.return {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: solid 0.5px rgb(173, 173, 173);
  background-color: #87CEEB;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}
a.return:hover {
  background-color: #fff;
  border: solid 3px #87CEEB;
  color: #87CEEB;
  font-weight: bold;
}
/* 送信ボタン */
button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  margin: 0 auto 20px auto; 
  padding: 10px 27px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
}
button svg {
  display: block;
  background: white;
  color: royalblue;
  border-radius: 50%;
  padding: 5px;
  /* transform-origin: center center; */
  transition: transform 0.2s ease-in-out;
}
button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
button span.send {
  display: block;
  margin-left: 12px;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}
/* button:hover svg {
  transform: translateX(3.5em) rotate(45deg) scale(1.1);
} */
button:hover span.send {
  transform: translateX(8em);
}
button:active {
  transform: scale(0.95);
}
/* スライド後の上下の動き */
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
/* ================== thanks.php =================== */
.thanks-container {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  background-color: #c8fbff;
  padding:30px;
}
.thanks-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}
.thanks-title .thanks-en {
  color: red;
}
.thanks-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.thanks-text p:nth-child(3) {
  margin-bottom: 20px;
}
.thanks-text .thanks-en {
  color: red;
}
.thanks-container img {
  margin-top: 30px;
}

/*=======================
  フッター footer
=======================*/
#footer {
  background-color: rgb(247, 247, 247);
  box-shadow: 0 1px 8px 3px rgb(0, 0, 0, 10%);
}
.footer-wrap {
  /* border: solid 5px red; */
}
#footer a {
  display: block;
  text-align: center;
}
#footer .sns-link-icon {
  display: flex;
  margin-left: 48%;
}
#footer .sns-link-icon a {
  /* padding-right: 50%; */
  margin-right: 20px;
}
#footer .copyright {
  text-align: center;
  /* padding: 0 0 5px 0; */
}
#footer span {
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
}
  /* ----------------------------------------------- スクロール＆ページトップ */
  #page-top {
    position: fixed;
    right: 10px;
    bottom:30px;
    z-index: 2;
    opacity: 0;
    transform: translateY(150px);
    
  }
  /* 上に上がる動き */
  #page-top.UpMove{
    animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
      transform: translateY(150px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* 下に下がる動き */
  #page-top.DownMove{
    animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(150px);
    }
  }
  /*画像の切り替えと動き*/
  #page-top a {
    display: block;
    width: 60px;
    height: 80px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;
    font-family: "Lobster", cursive;
    background: url("../img/coffee-beans_640.png") no-repeat center;
    background-size: contain;
  }
  #page-top.floatAnime a {
    width: 100px;
    height: 130px;
    margin-bottom: 10px;
    background: url("../img/coffee-mug_640.png") no-repeat center;
    background-size: contain;
    animation: floatAnime 2s linear infinite;
    opacity: 0;
  }
  @keyframes floatAnime {
    0% { transform: translateX(0); opacity: 0; }
    25% { transform: translateX(-6px);opacity: 1; }
    50% { transform: translateX(0) }
    100% { transform: translateX(6px);opacity: 1; }
  }
  /* PageTopテキストの位置 */
  #page-top span{
    width: 120%;
    position: absolute;
    bottom: -10px;
    right: 0px;
    color: #333;
    font-size: .8rem;
  }

